.container {
  background: white;
  border-radius: 5px;
  width: 905px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.infoContainer {
  display: flex;
  width: 720px;
  justify-content: space-around;
}

.prevDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}